.cartcontainer {
	display: flex;
	flex-direction: column;
	margin: 15px 30px;
  margin-left: 200px;
}

.pageheading {
  text-align: center;
}

.explorebtn {
	text-align: center;
	font-weight: 800;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	color: white;
	background-color: rgb(9, 0, 111);
	padding: 0.5rem 2rem;
}

.noitemscontainer {
	text-align: center;
}
@media (min-width: 768px) {
	.cartcontainer {
		flex-direction: row;
	}
}
